<h1>New Track</h1>
<%= form_for :track, url: tracks_path do |f| %>

  <p>
      <%= f.label :truck_by %><br />
      <%= f.text_field :truck_by %>
    </p>
  <p>
    <%= f.submit %>
  </p>



<% end %>
