<h1>New Track</h1>

<%= form_for :track, url: tracks_path do |f| %>
<div class="form-group">
  <label>Choose your Barber:</label>
  <select name="client[barber]" class="form-control">


  </select>
  </div>



<% end %>
